/* netflix_app/static/netflix_app/css/style.css */

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #111;
    color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
}

.logo img {
    width: 100px;
}

.user-profile img {
    width: 40px;
    border-radius: 50%;
}

.main-content {
    padding: 20px;
}

.banner img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.movie-list {
    display: flex;
    overflow-x: scroll;
    padding: 20px 0;
}

.movie {
    margin-right: 10px;
}

.movie img {
    width: 500px;
    border-radius: 8px;
    transition: transform 0.3s;
}

.movie img:hover {
    transform: scale(1.1);
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #000;
}

.banner2 img{
    width: 150px;
    margin-left: ;
}