body{
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

nav{
    background-color: #111;
    color: white;
    padding: 20px 50px;
}

.navTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}body{
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

nav{
    background-color: #111;
    color: white;
    padding: 20px 50px;
}

.navTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search{
    display: flex;
    align-items: center;
    background-color: grey;
    padding: 10px 20px;
    border-radius: 10px;
}
.searchInput{
    border: none;
    background-color: transparent;
}

.searchInput::placeholder{
    color: lightgray;
}

.limittedOffer{
    font-size: 20px;
    border-bottom: 2px solid green;
    cursor: pointer;
}

.navBottom{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuItem{
    margin: 50px;
    font-weight: 400;
    color: lightgrey;
    cursor: pointer;
}

.slider{
    background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    overflow: hidden;
}

.slideWrapper{
    display: flex;
    width: 500vw;
    transition: all 1s ease-in-out;
}
.sliderItem{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;   
}

.slideBg{
    width: 750px;
    height: 750px;
    border-radius: 50%;
    position: absolute;
   
}

.sliderImg{
    z-index: 1;
}

.sliderTitle{
    position: absolute;
    top: 10%;
    right:10%;
    color: white;
    font-size: 60px;
    font-weight:900;
    text-align: center;
    z-index: 1;
}

.sliderPrice{
    position: absolute;
    top: 10%;
    left:14%;
    color: white;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    border: 2px solid grey;
    z-index: 1;
}

.sliderButton{
    position: absolute;
    top: 50%;
    right:10%;
    color: white;
    background-color: black;
    font-size: 30px;
    font-weight: 900;
    border: 1px solid grey;
    z-index: 1;
    cursor: pointer;
}

.sliderButton:hover{
    color: black;
    background-color: white;

}

.sliderItem:nth-child(1) .slideBg{
    background-color: #57cc99;
}

.sliderItem:nth-child(2) .slideBg{
    background-color:#00b4d8 ;
}

.sliderItem:nth-child(3) .slideBg{
    background-color:#1a1423;
}

.sliderItem:nth-child(4) .slideBg{
    background-color: #ffd700;
}

.sliderItem:nth-child(5) .slideBg{
    background-color: orange;
}

.sliderItem:nth-child(1) .sliderPrice{
    color: #57cc99;
    font-weight: 400;
}

.sliderItem:nth-child(2) .sliderPrice{
    color:#00b4d8 ;
}

.sliderItem:nth-child(3) .sliderPrice{
    color:#957bb8;
}

.sliderItem:nth-child(4) .sliderPrice{
    color: yellow;
}

.sliderItem:nth-child(5) .sliderPrice{
    color: orange;
}

.features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
  }
  
.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
  
.featureIcon {
    width: 50px;
    height: 50px;
}
  
.featureTitle {
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
}
  
.featureDesc {
    color: gray;
    width: 50%;
    height: 100px;
}

.product{
    height: 100vh;
    background-color: whitesmoke;
    position: relative;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);

}

productImg{
    width: 50%;
}
.productDetails{
    position: absolute;
    top: 10%;
    right: 0;
    width: 40%;
    padding: 50px;
}

.productTitle{
    font-size: 75px;
    font-weight: 900;
}

.productDesc{
    font-size: 24px;
    color: grey;
}

.productColors, .sizes{
    display: flex;
    margin-bottom: 20px;
}

.color{
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background-color: #023a0b;
    margin-right: 10px;
    cursor: pointer;
}

.color:last-child{
    background-color: #00d82f;
}

.size{
    font-size: 15px;
    margin-right: 30px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
}

.buynowbutton{
    border: none;
    background-color: #111;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 20px;
}

.buynowbutton:hover{
    background-color: grey;
    color: black;
}

.search{
    display: flex;
    align-items: center;
    background-color: grey;
    padding: 10px 20px;
    border-radius: 10px;
}
.searchInput{
    border: none;
    background-color: transparent;
}

.searchInput::placeholder{
    color: lightgray;
}

.limittedOffer{
    font-size: 20px;
    border-bottom: 2px solid green;
    cursor: pointer;
}

.navBottom{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuItem{
    margin: 50px;
    font-weight: 400;
    color: lightgrey;
    cursor: pointer;
}

.slider{
    background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}

.slideWrapper{
    display: flex;
    width: 500vw;
    transition: all 1s ease-in-out;
}
.sliderItem{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;   
}

.slideBg{
    width: 750px;
    height: 750px;
    border-radius: 50%;
    position: absolute;
   
}

.sliderImg{
    z-index: 1;
}

.sliderTitle{
    position: absolute;
    top: 10%;
    right:10%;
    color: white;
    font-size: 60px;
    font-weight:900;
    text-align: center;
    z-index: 1;
}

.sliderPrice{
    position: absolute;
    top: 10%;
    left:14%;
    color: white;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    border: 2px solid grey;
    z-index: 1;
}

.sliderButton{
    position: absolute;
    top: 50%;
    right:10%;
    color: white;
    background-color: black;
    font-size: 30px;
    font-weight: 900;
    border: 1px solid grey;
    z-index: 1;
    cursor: pointer;
}

.sliderButton:hover{
    color: black;
    background-color: white;

}

.sliderItem:nth-child(1) .slideBg{
    background-color: #57cc99;
}

.sliderItem:nth-child(2) .slideBg{
    background-color:#00b4d8 ;
}

.sliderItem:nth-child(3) .slideBg{
    background-color:#1a1423;
}

.sliderItem:nth-child(4) .slideBg{
    background-color: #ffd700;
}

.sliderItem:nth-child(5) .slideBg{
    background-color: orange;
}

.sliderItem:nth-child(1) .sliderPrice{
    color: #57cc99;
    font-weight: 400;
}

.sliderItem:nth-child(2) .sliderPrice{
    color:#00b4d8 ;
}

.sliderItem:nth-child(3) .sliderPrice{
    color:#957bb8;
}

.sliderItem:nth-child(4) .sliderPrice{
    color: yellow;
}

.sliderItem:nth-child(5) .sliderPrice{
    color: orange;
}